/nvim
/opera
/Code
/Code - OSS
/Code - oss
/code-oss
/BetterDiscord/data
/BetterDiscord/plugins/*.json
/thunar
/xfce4
/unity3d
/starship
/spotify
/PoliceStoriesRelease
/polybar
/protonfixes
/qBittorrent
/spicetify
/menus
/ibus
/google-chrome
/gnome-boxes
/geary
/evolution
/Electron
/discordcanary
/discord
/cef_user_data
/BetterDiscord Installer
/balena-etcher-electron
/nautilus
/neofetch